@model Product

@{
    ViewData["Title"] = "ShowDetails";
}

<h2>name: @Model.Name</h2>
<h3>id: @Model.Id</h3>
<h3>price: @Model.Price$</h3>
<h3>description: @Model.Description</h3>
<h3>image: @Model.Image</h3>