@model Instructor
@{
    ViewData["Title"] = "ShowDetails";
}

<h1>ShowDetails</h1>

<h2>name: @Model.Name</h2>
<h3>id: @Model.Id</h3>
<h3>price: @Model.Salary$</h3>
<h3>description: @Model.Address</h3>
<h3>image: @Model.Image</h3>